<div class="container">
    <h1>Input Form</h1>
    <form [formGroup]="inputForm" class = "input" (ngSubmit)="onSubmit($event)">
      <div class="form-group">
        <label for="tax-bracket">Tax Bracket</label>
        <input type="text" class="form-control" id="tax-bracket" required>
      </div>
      <div class="form-group">
        <label for="retirenment-tax">Average Retirenment Tax</label>
        <input type="text" class="form-control" id="retirenment-tax">
      </div>
      <div class="form-group">
        <label for="deposit">Deposit Amount</label>
        <input type="text" class="form-control" id="deposit">
      </div>
      <div class="form-group">
        <label for="years">Years to Invest</label>
        <input type="text" class="form-control" id="years">
      </div>
      <div class="form-group">
        <label for="roi">Return on Investment Rate</label>
        <input type="text" class="form-control" id="roi">
      </div>
      <div class="form-group">
        <label for="inflation">Projected Inflation Rate</label>
        <input type="text" class="form-control" id="inflation">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>

